* {
  box-sizing: border-box;
}
/*
OLD Menu
*/
/*
#menu ul{
                list-style-type: none;
                margin: 0;
                padding:0;
                overflow: hidden;
                background-color: #333333;
            }
           
 #menu li {
        float:left;
        padding-right: 25px;
        padding-left: 25px;
    }
#menu li a {
    display: block;
    color: white;
    padding-left: 25px;
    text-align: left;
    align-content: center;
    padding: 16px;
    text-decoration: none;
    transition: background-color 2s;
}

#menu li a:hover {
    background-color: #ddd;
    font-weight: bold;
}
*/


/*
Menu 2

.menu{
    list-style-type: none;
    margin: 20px 0 0 350;
    border: 1px solid #333333;
    float: left;
    
}


            
.menu li{
    list-style-type: none;
    position: relative;
    float: left;
    border-right: 1px solid #990000;;
    padding-left: 105px;
    padding-right: 105px;
    background-color: #333333;
    height: 28px;
    line-height: 28px;
}

.menu li a{
    font-family: Tahoma;
    font-size: 13px;
    color: #FFFFFF;
    text-decoration: none;
}
.menu li:hover {
    background-color: #ddd;
    transition: background-color 2s;
}


.menu li ul{
    position: absolute;
    top: 28px;
    left: 0px;
    display: none;
}
.menu li:hover ul, .menu li ui il:hover ul, .menu li.over ul, .menu li ul li.over ul{
    display: block;
}

.menu li ul li{
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    border: 1px solid #990000;
    display: block;
    width: 150px;
    height: 25px;
    line-height: 25px;
}

*/







/* Menu Principal*/
body {margin:0;font-family:Arial}

.topnav {
  width: 100%;
  overflow: hidden;
  background-color: #ffcc99;
}

.topnav a {
  width: 15%;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.ativo{
  background-color: #ff9900;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
    width: 15%;
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    width: 100%;
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    width: 100%;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Responsivo */

@media screen and (max-width: 700px) {
    .topnav a, .dropdown, .dropdown-content{
        width: 100%;
    }
  }

  
  
  
  
  /* SlideShow */

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #ddd;
  font-size: 12px;
  padding: 8px 12px;
  position: relative;
  bottom: -50px;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  visibility: hidden;
}
.slideshow-container img{
    width: 100%;
    height: 60%;
}

/* Responsivo */

@media screen and (max-width: 700px) {
    .slideshow-container img{
    width: 100%;
    height: 80%;
}
  }
  
  
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
  






/*Menus laterais e centrais*/
.menu-esquerdo {
  float:left;
  width:20%;
  text-align:center;
}
.menu-esquerdo a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}

.menu-central {
  float:left;
  width:60%;
  min-height: 70%;
  padding:0 20px;
}
.menu-direito{
    text-align: justify;
    float: left;
    width: 38%;
    min-height:75%;
}

.menu-expositivo{
    display: block;
    text-align: center;
    float: left;
    width: 100%;
}
.menu-expositivo img{
    display: inline-block;
    margin: 0.5%;
    width: 15%;
    height: 20%;
}

.rodape{
    text-align: center;
    margin: 0.5%;
    padding: 0.25%;
    color: #f2f2f2;
    width: 100%;
    background: #ffcc99;
}
/*Responsivo*/
@media only screen and (max-width: 700px) {
    .menu-central, .menu-direito{
        width: 100%;
    }
    .menu-expositivo img{
        width: 40%;
    }
}